.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.about-content {
  text-align: center;
  max-width: 800px;
  margin-bottom: 50px;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px; /* Rounded corners */
  margin: 10px;
  width: 250px;
}

.stat h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.counter {
  font-size: 2rem;
  font-weight: bold;
}
